
<div class="menu" #asMenu>
  <li style="--i:1;--clr:#FCC211;">
    <a href="#" routerLink="/calendario">
      <i class="medium material-icons">person_pin</i>
    </a>
  </li>
  <li style="--i:2;--clr:#f9a825;">
    <a href="#">
      <i class="medium material-icons">share</i>
    </a>
  </li>
  <li style="--i:3;--clr:#f57f17 ;">
    <a href="#">
      <i class="medium material-icons">redeem</i>
    </a>
  </li>
  <li style="--i:4;--clr:#ffd600 ;">
    <i class="medium material-icons">settings</i>
  </li>
  <div #asToggle class="toggle" (click)="mensaje()">
    <i class="medium material-icons">3d_rotation</i>
    <i class="medium material-icons">close</i>
  </div>
</div>

  
  
