 /*
 // label color
 .input-field label {
    color: green;
  }
  
  // label focus color 
  .input-field input[type=text]:focus + label {
    color: yellow;
  }

  // label underline focus color 
  .input-field input[type=text]:focus {
    border-bottom: 1px solid purple;
    box-shadow: 0 1px 0 0 #000;
  }
  // valid color 
  .input-field input[type=text].valid {
    border-bottom: 1px solid brown;
    box-shadow: 0 1px 0 0 #000;
  }
  // invalid color 
  .input-field input[type=text].invalid {
    border-bottom: 1px solid blue;
    box-shadow: 0 1px 0 0 #000;
  }
  // icon prefix focus color 
  .input-field .prefix.active {
    color: orange;
  }
*/

.place {
  border: 1px solid black;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
  margin-bottom: 20px;
}

.place .info {
  padding: 10px 20px;
}

.place .image {
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}