
<div id="index-bannes" class="parallax-contenedor">
    <div class="section no-pad-bot">
      <div class="container">
         <div class="encabezado">
            <ul>
                <li><a href="#About">About</a></li>
                <li><a href="#Productos">Productos</a></li>
                <li><a href="#Contactanos">Contacto</a></li>
                <li><a href="#" routerLink="/login" >Login</a></li>
            </ul>
         </div>
        
        <h1 class="header center white-text">Aromatizantes</h1>
        <div class="row center">
          <h5 class="header col s12 white-text light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        <div class="row center">
          <a href="#" routerLink="/login" id="download-button" class="btn-large waves-effect waves-light red darken-4">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>    
  </div>

<section id="About">
  <div class="container">
    <div class="section">

      <div class="row ">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center deep-purple-text text-darken-4"><i class="material-icons">credit_card</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-1"><i class="material-icons">lock</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center pink-text text-accent-3"><i class="material-icons">local_shipping</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



  <div class="parallax-contenedor valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>   
  </div>

  <section id="Productos">
    <div class="container">
        <div class="section">    
          <div class="row">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>Productos</h4>
              <div class="carousel">
                <a class="carousel-item" onclick="M.toast({html: 'I am a Rush'})"><img src="assets/img/Rush Rojo.png"></a>
                <a class="carousel-item" onclick="M.toast({html: 'I am a Rush Rojo'})"><img src="assets/img//Rush Negro.jpeg"></a>
                <a class="carousel-item" onclick="M.toast({html: 'I am a Rush Amarillo'})"><img src="assets/img/Rush Rojo.png"></a>
                <a class="carousel-item" onclick="M.toast({html: 'I am a Rush Strong'})"><img src="assets/img/Rush Rojo Opacity.png"></a>
                <a class="carousel-item" onclick="M.toast({html: 'I am a Rush JJBL'})"><img src="assets/img/Rush Rojo.png"></a>
              </div>
              
              <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
              <div class="row">
                <div class="col s3">
                <div class="card pt-5">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/img/Rush Rojo Opacity.png">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Rush Rojo<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Agreagr al carrito</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><b>Rush Rojo</b><i class="material-icons right">close</i></span>
                    <p>Aroma par estimularte de manera inmediata para un <b>placer al 100%</b>  con tú pareja sin perder el tiempo.</p>
                  </div>
                </div></div>
                <div class="col s3"><div class="card pt-5">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/img/Rush Rojo Opacity.png">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Rush Rojo<i class="material-icons right">description</i></span>
                    <p><a href="#">Agreagr al carrito</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><b>Rush Rojo</b><i class="material-icons right">close</i></span>
                    <p>Aroma par estimularte de manera inmediata para un <b>placer al 100%</b>  con tú pareja sin perder el tiempo.</p>
                    <i class="material-icons right">grade</i><i class="material-icons right">grade</i><i class="material-icons right">grade</i>
                  </div>
                </div></div>
                <div class="col s3"><div class="card pt-5">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/img/Rush Rojo Opacity.png">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Rush Rojo<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Agreagr al carrito</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><b>Rush Rojo</b><i class="material-icons right">close</i></span>
                    <p>Aroma par estimularte de manera inmediata para un <b>placer al 100%</b>  con tú pareja sin perder el tiempo.</p>
                  </div>
                </div></div>
                <div class="col s3"><div class="card pt-5">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/img/Rush Rojo Opacity.png">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Rush Rojo<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">Agreagr al carrito</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><b>Rush Rojo</b><i class="material-icons right">close</i></span>
                    <p>Aroma par estimularte de manera inmediata para un <b>placer al 100%</b>  con tú pareja sin perder el tiempo.</p>
                  </div>
                </div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
 


  <div class="parallax-contenedor valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container faqs">
        
        <div class="row">        
            <div class="col s12">
              <h3>Preguntas Frecuentes</h3>                            
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header white-text grey darken-3"><i class="material-icons">filter_drama</i>First</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et neque fugiat sint culpa repellat tenetur aliquam, cum placeat dolorum quisquam commodi consequatur aspernatur, accusamus fuga obcaecati dolorem, autem expedita possimus..</span></div>
                </li>
                <li>
                  <div class="collapsible-header white-text grey darken-3"><i class="material-icons">place</i>Second</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam quam voluptatibus repudiandae quaerat praesentium ullam adipisci odio ipsam quisquam perspiciatis cupiditate unde dolorum ratione nostrum culpa nam, cumque ipsum debitis.
                  Non atque, quam odit, quidem tempora totam aspernatur magni dolorum possimus similique dolores illo laborum nam eos suscipit! Vitae veniam minima ullam consequatur eligendi! Totam est illum magni hic reprehenderit.
                  Cumque, ipsam, odit deserunt voluptatibus magnam nesciunt accusamus, magni non laborum eligendi obcaecati quas! Quos mollitia, placeat maxime deleniti, autem reprehenderit saepe beatae ea, sed hic rem quas sequi libero.
                  Debitis quo ratione est corporis molestiae, blanditiis repellendus architecto neque! Similique, aliquid explicabo earum vel hic at natus molestias obcaecati, minima pariatur neque ex nobis tenetur delectus temporibus laborum. Libero.
                  Odio ducimus officiis reprehenderit corrupti eligendi, quaerat asperiores, ex voluptatum omnis deserunt aspernatur atque eveniet exercitationem at! Ad, veritatis neque? Libero exercitationem quam amet, explicabo tenetur temporibus ullam perspiciatis optio!</span></div>
                </li>
                <li>
                  <div class="collapsible-header white-text grey darken-3"><i class="material-icons">whatshot</i>Third</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header white-text grey darken-3"><i class="material-icons">filter_drama</i>First</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                  </li>
                  <li>
                    <div class="collapsible-header white-text grey darken-3"><i class="material-icons">place</i>Second</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                  </li>
                  <li>
                    <div class="collapsible-header white-text grey darken-3"><i class="material-icons">whatshot</i>Third</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                  </li>
                  <li>
                    <div class="collapsible-header white-text grey darken-3"><i class="material-icons">filter_drama</i>First</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                  </li>
                  <li>
                    <div class="collapsible-header white-text grey darken-3"><i class="material-icons">place</i>Second</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                  </li>
                  <li>
                    <div class="collapsible-header white-text grey darken-3"><i class="material-icons">whatshot</i>Third</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                  </li>
              </ul>
            </div>
        </div>
      </div>
    </div>    
  </div> 

<!-- Footer -->
<section id="Contactanos">
    <footer class="page-footer grey darken-4">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Armoas para la calentura</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Contáctanos</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons">phone</i> +52 81 8601 9936</a></li>
                <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons">location_on</i> Puntos de encuentros</a></li>
                <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons">insert_comment</i> Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons">location_city</i> Calle tal por cual #5664</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>
</section>

